# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/Assets/arm-chair-01.jpg
src/Assets/arm-chair-02.jpg
src/Assets/arm-chair-03.jpg
src/Assets/counter-timer-img.png
src/Assets/double-sofa-01.png
src/Assets/double-sofa-02.png
src/Assets/double-sofa-03.png
src/Assets/hero-img.png
src/Assets/phone-01.jpg
src/Assets/phone-02.jpg
src/Assets/phone-03.png
src/Assets/phone-04.jpg
src/Assets/phone-05.jpg
src/Assets/phone-06.jpg
src/Assets/phone-08.png
src/Assets/single-sofa-01.jpg
src/Assets/single-sofa-02.jpg
src/Assets/single-sofa-03.jpg
src/Assets/single-sofa-04.png
src/Assets/table.jpg
src/Assets/watch-01.jpg
src/Assets/watch-02.jpg
src/Assets/watch-03.jpg
src/Assets/watch-04.jpg
src/Assets/watch-05.png
src/Assets/watch-06.png
src/Assets/watch-07.png
src/Assets/wireless-01.png
src/Assets/wireless-02.png
src/Assets/wireless-03.png
src/Assets/wireless-04.png
