.body{
    padding-top: 110px;
}
.second-body{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 15%;
    justify-content: space-around;
}
.cart-row{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    justify-content: flex-start;
    width: 100%;
    height: 360px;
}
.cart-row .btn:first-child{
    position: relative;
    bottom: 120px;
    display: block;
    left: 65px;
}
.cart-row aside{
    position: absolute;
    right: 10px;
    top: 150px;
}
.cart-row div:nth-child(2) h4{
    margin-bottom: 40px;
}
.cart-row div:nth-child(2) span{
    font-size: larger;
    font-weight: 600;
    margin: 10px;
}
.second-body aside{
    text-align: left;
}