#carouselExampleInterval {
    padding-top: 120px;
    height: 660px;
}

.carousel-item {
    justify-content: space-evenly;
    visibility: hidden;
    transition: hidden 0ms;
}

.active {
    z-index: 1;
    visibility: visible;
}

#item {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 40%;
    height: 522px;
}

#carouselExampleInterval>div>div>div:first-child h2 {
    margin-bottom: 50px;
    font-size: 65px;
    text-align: left;
}

#carouselExampleInterval>div>div>div:first-child p {
    font-size: 25px;
    color: #000000a6;
    text-align: left;
}

#carouselExampleInterval div div div button {
    border: none;
    float: left;
    padding: 10px;
}