.banner {
    height: 350px;
    padding-top: 120px;
    background-image: url(../../Assets/table.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: white;
}

.search {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.search select {
    background: navy;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.search input {
    width: 85%;
    border-radius: 25px;
    background: gainsboro;
    border: none;
    padding: 15px;
}

.search input:focus {
    border-color: navy;
}

.search div svg {
    position: absolute;
    top: 71%;
    right: 160px;
}