#carouselExampleInterval>div>div{
    align-items: center;
    display: grid;
    grid-template-columns: 40% 40%;
    background: #f6f9fc;
    justify-content: space-evenly;
}
#carouselExampleInterval>div>div>div:first-child h2{
    margin-bottom: 50px;
    font-size: 65px;
    text-align: left;
}
#carouselExampleInterval>div>div>div:first-child p{
    font-size: 25px;
    color: #000000a6;
    text-align: left; 
}
.service{
    display: grid;
    grid-template-columns: repeat(4,23%);
    justify-content: space-evenly;
}
.service>div{
    padding: 10px;
}
.service>div h4{
    margin: 20px 0px;
}
.big-dis{
    background: #f6f9fc;
}
.big-dis .card{
    text-align: left;
    padding: 15px;
}
.big-dis .card p:first-child{
    background: navy;
    color: white;
    font-weight: 600;
    padding: 5px 15px;
    width: fit-content;
    border-radius: 25px;
}
.big-dis img{
    height: 400px;
}
.big-dis .card button{
    width: fit-content;
    align-self: end;
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid #ededf1;
    color: #002756;
    background: white;
}
.new-arr .card{
    text-align: left;
    padding: 15px;
}
.new-arr img{
    height: 400px;
}
.new-arr .card button{
    width: fit-content;
    align-self: end;
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid #ededf1;
    color: #002756;
    background: white;
}